@import './base.css';

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');
/* Fonts ===================================================== */
@font-face {
  font-family: 'montserrat-bold';
  src: url('./font/Montserrat-Bold.ttf');
}

/* Buttons ===================================================== */
button.btn {
  transition: all 0.3s ease-in-out;
  font-weight: 600;
  border-radius: 0.8rem;
}

/* expand margin adding */
button.btn:hover {
  border-radius: 0.35rem;
}

button.btn-primary:hover {
  background-color: #3a1e85;
  border-color: #3a1e85;
}

button.btn-secondary:hover {
  background-color: #b82e00;
  border-color: #b82e00;
  color: white;
}