@import './base.css';

/* Buttons ===================================================== */
button.btn {
  transition: all .3s ease-in-out;
  font-weight: 600;
  border-radius: 0.8rem;
}

/* expand margin adding */
button.btn:hover {
  border-radius: 0.35rem;
}

button.btn-primary:hover {
  background-color: #3A1E85;
  border-color: #3A1E85;
}

button.btn-secondary:hover {
  background-color: #B82E00;
  border-color: #B82E00;
  color: white;
}